# Python cache
__pycache__/
*.pyc

# Virtual environments
venv/
env/
sklearn-env/
.venv/

# Jupyter
.ipynb_checkpoints/

# Environment variables
.env

# IDEs
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db
